#header_img{
    height: 80px;
    display: inline;
}

h1{
    text-align: center;
}

body{
    margin: 0;
    background-color: white; 
    background-image: url("imgs/double-bubble-outline.png");
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

nav {
    width: 100%;
    background-color:  #dddddd;
}

ul {
    display: table;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;

}
  
li {
    float: left;
    display: inline;
}
  
li a {
    display: block;
    color: #2f4d74;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #bfbdbd;
    color: #7d2e9c;
}

article{
    padding: 5px 15px;
    margin-left: 170px;
    margin-right: 170px;
    background-color: #013cbd50;
    color: #160116;
    font-size: 12pt;
    line-height: 1.2em;
   
}

section{
    padding-bottom: 15px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 15px;
}

#final_section{
    margin-bottom: 40px;
}

footer{
    background-color: #2f4d74;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: small;
}


